@page "{guid}"
@model Webbasierende_Verwaltungsapplikation_fuer_KMU.Pages.Ticket.EditTicketModel
@{
}
@* Add when URL is Empty, Edit when Url is not empty *@
@*

    items:
    • Titel
    • Description
    • Status (DropDownMenu) (Gets shown when its an edditing page, gets hidden when its the add page)
    • Priority (DropDownMenu) (Only Employee)
    • Note (only for Employee)
    • Upload Document Controll
    • label for uploaded Documents -> <label> <a>NaveSeal.mp4</a>,<a>irgendwas.txt</a></label>
    • Assigned Employee (DropwDownMenu for Employee, Label for Customer/Company)
    • Button Save, Button Cancel

*@


<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="container">
            <form method="post">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Titel:</strong>
                        </span>
                    </div>
                    <div class="input-group">
                        <input class="form-control" asp-for="TicketDto.Name" type="text" placeholder="Titel" value="@Model.TicketDto.Name" />
                    </div>
                </div>
                <span class=" text-danger small" asp-validation-for="TicketDto.Name"></span>
                <br />
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Beschreibung:</strong>
                        </span>
                    </div>
                    <div class="h-50 w-100">
                        <textarea class=" form-control" asp-for="TicketDto.Description" style=" min-height: 45% ; max-width:100%" type="text"></textarea>
                    </div>
                </div>
                <span class=" text-danger small" asp-validation-for="TicketDto.Description"></span>
                <br />
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Status:</strong>
                        </span>
                    </div>
                </div>
                <div>
                    <select class="custom-select" asp-for="@Model.TicketDto.StatusId"
                            asp-items="@Model.Statuss">
                    </select>
                </div>
                <span asp-validation-for="@Model.TicketDto.StatusId"></span>
                <br />
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Priotität:</strong>
                        </span>
                    </div>
                </div>
                <div>
                    <select class="custom-select" asp-items="@Model.Prioritys"
                            asp-for="@Model.TicketDto.Priority">
                    </select>
                </div>
                <br/>
                <div class="input-group ">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Notiz:</strong>
                        </span>
                    </div>
                </div>
                <textarea class="form-control" asp-for="@Model.TicketDto.Note"></textarea>
                <span class="text-danger small" asp-validation-for="TicketDto.Note"></span>
                <br />
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <strong style="font-weight:400">Mitarbeiter:</strong>
                        </span>
                    </div>
                </div>
                <div>
                    <select class="custom-select" asp-for="@Model.TicketDto.EmployeePartyId" asp-items="@Model.Employees">
                    </select>
                </div>
                <br />
                <button class="btn btn-primary" type="submit">Speichern</button>
                <a class="btn btn-primary" asp-page="Index" asp-route-guid="@Model.Ticket.Guid">Abbrechen</a>
            </form>
        </div>
    </div>
</div>