@page "{guid}"
@model Webbasierende_Verwaltungsapplikation_fuer_KMU.Pages.Order.IndexModel
@section Breadcrumb{
    <ol class="breadcrumb">
        <li class=" breadcrumb-item">
            @switch (Model.Order.Customer.Role)
            {
                case Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Role.Customer:
                    <a asp-page="/Customer/Profile" asp-route-guid="@Model.Order.Customer.Guid">Profile</a>
                    break;
                case Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Role.Company:
                    <a asp-page="/Company/Profile" asp-route-guid="@Model.Order.Customer.Guid">Profile</a>
                    break;
                default:
                    <a asp-page="/Index">Home</a>
                    break;
            }
        </li>
        <li class="breadcrumb-item active">Order</li>
    </ol>
}
<div class="container">
    @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">@Model.ErrorMessage</div>
    }

    @if (!string.IsNullOrWhiteSpace(Model.SuccessMessage))
    {
        <div class="alert alert-success" role="alert">@Model.SuccessMessage</div>
    }
    <div class=" row">
        <div class="col">
            <h2 class="h2">@Model.Order.Name.ToString()</h2>
            <br />
            <h4 class="h4">Beschreibung</h4>
            <div class=" text-left">
                <p>
                    @Model.Order.Description
                </p>
            </div>
        </div>
        <div class="col my-auto">
            <div class="input-group mb-3 ">
                <div class=" input-group-append">
                    <span class="input-group-text">
                        Auftragsnummer:
                    </span>
                </div>
                <label class="form-control text-center font-weight-bold">   @Model.Order.Id</label>
            </div>
            <div class=" input-group mb-3">
                <div class=" input-group-append">
                    <span class="input-group-text">
                        Status:
                    </span>
                </div>
                @if (Model.Order.Tickets.Any())
                {

                    <label class="form-control text-center font-weight-bold"> @Model.Order.Tickets.Where(e => e.Status.Sequence == 0).Count()/@Model.Order.Tickets.Count Tickets geschlossen.</label>
                }
                else
                {
                    <label class="form-control text-center font-weight-bold">Keine Tickets vorhanden!</label>
                }
            </div>
            <div class=" input-group mb-3">
                <div class=" input-group-append">
                    <span class="input-group-text">
                        Kunde:
                    </span>
                </div>
                @switch (Model.Order.Customer.Role)
                {
                    case Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Role.Customer:
                        <label class="form-control text-center font-weight-bold"> <a asp-page="/Customer/Profile" asp-route-guid="@Model.Order.Customer.Guid"> @Model.Order.Customer.Fullname</a></label>
                        break;
                    case Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Role.Company:
                        <label class="form-control text-center font-weight-bold"> <a asp-page="/Company/Profile" asp-route-guid="@Model.Order.Customer.Guid"> @Model.Order.Customer.Fullname</a></label>
                        break;
                }
            </div>
            @if ((Model?._authService?.IsEmployee ?? false) && !Model.InvoiceCreated && Model.AllTicketsClosed && Model.Order.Tickets.Any())
            {
                <div class="input-group mb-3 ">
                    <div class=" input-group-append">
                        <form method="post" asp-page-handler="RechnungGenerieren">
                            <button class="btn btn-primary" type="submit">Rechnung generieren</button>
                        </form>
                    </div>
                </div>
            }
            @if (Model.Order.OrderStatus == Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.OrderStatus.AwaitingPayment && (Model?._authService?.IsCustomerOrCompany ?? false))
            {
                <div class="input-group mb-3 ">
                    <div class=" input-group-append">
                        <a asp-page="/Order/Checkout" asp-route-guid="@Model.Order.Guid" class="btn btn-primary">Zur Kassa</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <br />
    @if ((Model?._authService?.IsEmployee ?? false))
    {
        <div class="row">
            <div class="col">
                <h4 class="h4">Notiz</h4>
                <div class="form-group">
                    <p>
                        @Model.Order.Note
                    </p>
                    <div class="input-group-prepend pt-4">
                        @if ((Model?._authService?.IsEmployee ?? false) && Model.Order.OrderStatus == Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.OrderStatus.Open)
                        {
                            <div class="btn-group-vertical ">
                                <br />

                                <a asp-page="Edit" asp-route-guid="@Model.Order.Guid">
                                    <input type="button" class="btn btn-primary" value="Order bearbeiten" />
                                </a>

                            </div>
                        }
                    </div>
                    <br />
                </div>
            </div>
        </div>
    }

    <hr class="mt-3 mb-3" />
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#Tickets" role="tab">Tickets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#Dokumente" role="tab">Dokumente</a>
            </li>
            @*@if (Model?.Order?.Conversations?.Any() ?? false)
                    {
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#Anfragen" role="tab">Anfragen</a>
                </li>
                }*@
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="Tickets" role="tabpanel">
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Titel</th>
                            <th>Beschreibung</th>
                            <th>Priorität</th>
                            <th>Status</th>
                            <th>Erstellt am</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model?.Order?.Tickets?.OrderByDescending(e => e.Status.Sequence)?.ThenBy(e => e.Priority)?.ToList() ?? new List<Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Ticket>())
                        {
                            <tr>

                                <td> <a asp-page="/Ticket/Index" asp-route-guid="@item.Guid">@item.Name</a></td>
                                <td>@item.Description</td>
                                <td>@item.Priority.ToString()</td>
                                <td>@item.Status.Name</td>
                                <td>@item.Created</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if ((Model?._authService?.IsEmployee ?? false) && Model.Order.OrderStatus == Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.OrderStatus.Open)
                {
                    <a asp-page="/Ticket/Add" asp-route-guid="@Model.Order.Guid" class="btn btn-primary mt-3">Ticket hinzufügen</a>
                }
            </div>
            <div class="tab-pane" id="Dokumente" role="tabpanel">
                <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                        <tr>
                            <th>Name</th>
                            <th> </th>
                            @if ((Model?._authService?.IsEmployee ?? false) && Model.Order.OrderStatus == Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.OrderStatus.Open)
                            {
                                <th>Löschen</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in (Model?.Order?.Documents ?? new()))
                        {
                            @if ((Model?._authService?.IsEmployee ?? false) || !Model._authService.IsEmployee && item.DocumentType != Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.DocumentType.CompanyIntern)
                            {
                                <tr>
                                    <td>
                                        <a>@item.GetFullFileName</a>
                                    </td>
                                    <td>
                                        <form method="post" asp-page-handler="DownloadDocument" asp-route-documentGuid="@item.Guid" , asp-route-guid="@Model.Order.Guid">
                                            <button class="btn btn-sm btn-primary" type="submit">Download</button>
                                        </form>
                                    </td>
                                    @if ((Model?._authService?.IsEmployee ?? false) && Model.Order.OrderStatus == Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.OrderStatus.Open)
                                    {

                                        <td>
                                            @if (item.DocumentType != Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.DocumentType.Invoice)
                                            {
                                                <button class="btn btn-danger icon-trash" type="button" data-toggle="modal" data-target="#@string.Concat("Delete", item.Guid)"></button>
                                                <div class="modal fade" id="@string.Concat("Delete", item.Guid)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title">Dokument Löschen?</h4>
                                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Sind Sie sicher dass Sie das Dokument '@item.GetFullFileName' löschen möchten!</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <form method="post" asp-page-handler="DeleteDocument" asp-route-documentGuid="@item.Guid" asp-route-guid="@Model.Order.Guid">
                                                                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                                                    <button class="btn btn-primary" type="submit">Dokument Löschen</button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if ((Model?._authService?.Rights?.CanUploadFiles ?? false))
                {
                    <button class="btn btn-primary mt-3" type="button" data-toggle="modal" data-target="#UploadFile">Upload File</button>
                    <div class="modal fade" id="UploadFile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Dokument Hochladen</h4>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" enctype="multipart/form-data" asp-page-handler="UploadDocument">
                                        <div class="custom-file">
                                            <input type="file" value="Select File" asp-for="UploadedDocument" />
                                            @if (Model._authService.IsEmployee)
                                            {
                                                <select name="DocumentType" class="form-select">
                                                    <option value="0">Standard</option>
                                                    <option value="1">Firma Intern</option>
                                                </select>
                                            }
                                            <input class="btn btn-info" type="submit" />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>
            @*@if (Model?.Order?.Conversations?.Any() ?? false)
                {
                    <div class="tab-content">
                        <div class="tab-pane" id="Anfragen" role="tabpanel">
                            <table class="table table-responsive-sm table-hover table-outline mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Text</th>
                                        <th>Letztes Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Order.Conversations.OrderByDescending(e => e.Messages?.OrderByDescending(e => e.MessageSent)?.FirstOrDefault()?.MessageSent ?? new Webbasierende_Verwaltungsapplikation_fuer_KMU.Model.Message().MessageSent))
                                    {
                                        <tr>
                                            @{var text = new string(@item?.Messages?.OrderBy(e => e.MessageSent)?.FirstOrDefault()?.Text?.Take(100).ToArray());}
                                            <td><a asp-page="/Conversation/Index" asp-route-guid="@item!.Guid">@text</a></td>
                                            <td>@item?.Messages?.OrderByDescending(e => e.MessageSent)?.FirstOrDefault()?.MessageSent.ToString("dd-mm-yyyy HH:mm")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                }*@
        </div>
    </div>
